version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.prod
      #ports:
      #- "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:${DB_PASSWORD}@db:5432/portfolio
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - BACKEND_DOMAIN=${BACKEND_DOMAIN}
    depends_on:
      - db
    restart: always
    volumes:
      - ./backend/app/static/uploads:/app/app/static/uploads
    labels:
      - "traefik.enable=true"
      #apiportfolio.le-5ra.de BACKEND_DOMAIN
      - "traefik.http.routers.backendservice.rule=Host(`apiportfolio.madeingermany.tn`)"
      - "traefik.http.services.backendservice.loadbalancer.server.port=8000" # TODO check if this is needed
      - "traefik.http.routers.backendservice.entrypoints=websecure"
      - "traefik.http.routers.backendservice.tls.certresolver=letsencrypt"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      # ports:
            #  - "3000:3000"
    environment:
      - REACT_APP_API_URL=${API_URL}
      - FRONTEND_DOMAIN=${FRONTEND_DOMAIN}
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontendservice.rule=Host(`faridmaghraoui.madeingermany.tn`)"
      - "traefik.http.routers.frontendservice.entrypoints=websecure"
      - "traefik.http.services.frontendservice.loadbalancer.server.port=3000"
      - "traefik.http.routers.frontendservice.tls.certresolver=letsencrypt"

  db:
    image: postgres:15-bullseye
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=portfolio
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Mount the init script

    restart: always

volumes:
  postgres_data:
       

networks:
  default:
    external:
      name: traefik-proxy
 
